Protocol 2
StrictModes yes
Port 22
AuthenticationMethods publickey
PubkeyAuthentication yes
HostKey /etc/ssh/ssh_host_ed25519_key
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519
KexAlgorithms curve25519-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
MACs hmac-sha2-512-etm@openssh.com
HostbasedAcceptedKeyTypes ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519
PermitRootLogin no
MaxAuthTries 5
MaxSessions 2
PasswordAuthentication no
PermitEmptyPasswords no
IgnoreRhosts yes
HostbasedAuthentication no
ChallengeResponseAuthentication no
X11Forwarding no
LogLevel VERBOSE
SyslogFacility AUTH
UseDNS no
PermitTunnel no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
AllowAgentForwarding no
Banner /etc/issue.net
PrintLastLog yes
ClientAliveInterval 900
ClientAliveCountMax 0
LoginGraceTime 30
MaxStartups 2
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO
